{% extends 'base.html' %} {% block content %}
<div class="d-flex flex-column gap-2 align-items-center">
  <input type="hidden" id="code1" value="{{code.code}}" />
  <div
    class="d-flex p-4 flex-column rounded shadow position-relative justify-content-end align-items-end"
  >
    <div class="d-flex gap-2">
      <div onclick="copy()" class="btn btn-dark float-end m-2">
        Copy Code to Clibboard
      </div>
      <div onclick="copylink()" class="btn btn-dark float-end m-2">
        Copy URL to Clibboard
      </div>
    </div>
    <pre><code class="language-html">{{code.code}}</code></pre>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
  hljs.highlightAll();
</script>
<script>
  function copy() {
    navigator.clipboard.writeText(document.getElementById("code1").value);
    alert("copied");
  }
  function copylink() {
    navigator.clipboard.writeText(`${window.location.href}`);
    alert("copied", navigator.clipboard);
  }
</script>

{% endblock %}
