{% extends 'base.html' %} {% block content %}

<form  method="POST" class="d-flex flex-column align-items-start p-2 gap-2 h-100 rounded shadow-sm">
    {% csrf_token %}
   <textarea required class="form-control" id="code" name="code" placeholder="Paste The code...." cols="150" rows="10"></textarea>
    <select id="category" name="category" required  class="form-control">
        <option value="Select an Option">Select an option</option>
        <option value="html">Html</option>
        <option value="CSS">CSS</option>
        <option value="Java script">Java script</option>
        <option value="Python">Python</option>
        <option value="CPP">CPP</option>
        <option value="C">C</option>
        <option value="Java">Java</option>
        <option value="Web Technologies">Web Technologies</option>
    </select>
    <button class="btn btn-primary" type="submit">Share Code</button>
</form>

{% endblock %}